appnope==0.1.0
argon2-cffi==18.3.0
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
cffi==1.11.5
decorator==4.3.0
Django==2.1.4
django-extensions==2.1.4
django-mock-queries==2.1.1
django-shell-plus==1.1.7
ipdb==0.11
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
mock==2.0.0
model-mommy==1.6.0
more-itertools==4.3.0
parso==0.3.1
passlib==1.7.1
pbr==5.1.1
pexpect==4.6.0
pickleshare==0.7.5
pluggy==0.8.0
prompt-toolkit==2.0.7
ptyprocess==0.6.0
py==1.7.0
pycparser==2.19
Pygments==2.3.1
pytest==4.0.2
pytest-django==3.4.4
pytest-mock==1.10.0
pytest-pythonpath==0.7.3
pytz==2018.7
six==1.12.0
traitlets==4.3.2
wcwidth==0.1.7
